:root {
    --primary-color: #293241;
    --segundary-color: #F67669;
    --background-color: #BFD7E4;
    --star-empty: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M7.19837 20.6203C6.72231 20.5991 6.25585 20.4804 5.82834 20.2719C5.40083 20.0633 5.02153 19.7693 4.71432 19.4084C4.40712 19.0474 4.17869 18.6274 4.04337 18.1747C3.90804 17.7221 3.86878 17.2465 3.92805 16.7781L4.17548 14.8483C4.22272 14.4782 4.1785 14.1022 4.04665 13.7527C3.9148 13.4032 3.69925 13.0907 3.41854 12.8419L1.95541 11.5467C1.47626 11.1227 1.12641 10.5743 0.945476 9.96358C0.764544 9.35285 0.759755 8.70415 0.931587 8.09085C1.10342 7.47755 1.44503 6.92413 1.91782 6.49317C2.39061 6.06221 2.97568 5.77093 3.60688 5.65225L5.53579 5.28929C5.90555 5.21978 6.25274 5.06226 6.5474 4.8303C6.84207 4.59834 7.07538 4.29887 7.22728 3.95773L8.01899 2.1765C8.27823 1.59422 8.6967 1.0954 9.22711 0.736391C9.75752 0.377386 10.3787 0.172522 11.0205 0.144956C11.6623 0.117391 12.2991 0.268228 12.8588 0.580407C13.4186 0.892587 13.8791 1.35366 14.1882 1.91153L15.132 3.61666C15.3131 3.94404 15.5718 4.22287 15.8859 4.42908C16.1999 4.63529 16.56 4.7627 16.9349 4.8003L18.8876 4.99575C19.5268 5.0598 20.1352 5.29977 20.6439 5.68852C21.1526 6.07727 21.5413 6.5993 21.7662 7.19554C21.991 7.79178 22.043 8.43844 21.9162 9.06241C21.7894 9.68637 21.4889 10.2627 21.0486 10.7263L19.7038 12.1428C19.4456 12.4142 19.258 12.7438 19.1573 13.1032C19.0565 13.4625 19.0457 13.8407 19.1256 14.2052L19.5405 16.1073C19.6763 16.7292 19.6337 17.3764 19.4177 17.9756C19.2017 18.5749 18.8207 19.1023 18.318 19.4983C17.8152 19.8942 17.2106 20.143 16.5726 20.2164C15.9346 20.2898 15.2886 20.1849 14.7076 19.9136L12.9318 19.0846C12.5914 18.9248 12.2168 18.8497 11.8404 18.8657C11.4641 18.8817 11.0973 18.9884 10.772 19.1765L9.07522 20.1554C8.50723 20.4847 7.85595 20.646 7.19837 20.6203Z' fill='black'/%3E%3C/svg%3E%0A");
    --star-fill: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.23599 21.345C6.75993 21.3238 6.29347 21.2051 5.86596 20.9965C5.43844 20.7879 5.05914 20.4939 4.75194 20.133C4.44474 19.7721 4.21627 19.3521 4.08094 18.8994C3.94562 18.4467 3.90636 17.9712 3.96562 17.5028L4.21306 15.573C4.26029 15.2028 4.21607 14.8269 4.08423 14.4774C3.95238 14.1279 3.73683 13.8153 3.45611 13.5666L1.99298 12.2714C1.51384 11.8473 1.16402 11.299 0.983095 10.6883C0.802165 10.0775 0.797332 9.42882 0.969164 8.81552C1.141 8.20223 1.48266 7.6488 1.95544 7.21784C2.42823 6.78688 3.0133 6.49558 3.6445 6.3769L5.57336 6.01394C5.94314 5.94443 6.29031 5.78693 6.58498 5.55497C6.87965 5.32301 7.113 5.02355 7.2649 4.6824L8.05661 2.90117C8.31584 2.31889 8.73432 1.82007 9.26473 1.46106C9.79514 1.10206 10.4163 0.897193 11.0581 0.869627C11.6999 0.842061 12.3367 0.992878 12.8965 1.30506C13.4562 1.61724 13.9167 2.07833 14.2258 2.6362L15.1696 4.34133C15.3507 4.66871 15.6094 4.94754 15.9235 5.15375C16.2376 5.35996 16.5976 5.48735 16.9725 5.52495L18.9252 5.7204C19.5644 5.78445 20.1728 6.02443 20.6815 6.41317C21.1902 6.80192 21.579 7.32395 21.8038 7.92019C22.0286 8.51643 22.0806 9.16309 21.9538 9.78706C21.827 10.411 21.5265 10.9874 21.0863 11.451L19.7414 12.8675C19.4832 13.1389 19.2957 13.4685 19.1949 13.8278C19.0942 14.1872 19.0833 14.5654 19.1632 14.9298L19.5781 16.8319C19.7139 17.4539 19.6714 18.1011 19.4553 18.7003C19.2393 19.2995 18.8584 19.8269 18.3556 20.2229C17.8528 20.6189 17.2482 20.8676 16.6102 20.941C15.9722 21.0144 15.3262 20.9095 14.7452 20.6382L12.9694 19.8093C12.629 19.6495 12.2544 19.5743 11.878 19.5904C11.5017 19.6064 11.1349 19.7131 10.8096 19.9012L9.11284 20.8801C8.54484 21.2094 7.89357 21.3707 7.23599 21.345Z' fill='white'/%3E%3C/svg%3E%0A");
    --select: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    --check: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2710_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2710_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
}

header {
    text-align: center;
}

header::before {
    content: '';
    background: var(--primary-color);
    height: 465px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFF;
    margin: 107px 0 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    height: 46px;
}

.bubble {
    position: relative;
    display: inline-block;
}

img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    gap: 7px;
}

.star-wrapper {
    position: relative;
}

.star-wrapper input {
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0;
    z-index: -1;
}

.star-wrapper label::before {
    content: '';
    width: 22px;
    height: 21px;
    display: block;
    background-image: var(--star-empty);
}

.star-wrapper input:checked~label::before {
    background-image: var(--star-fill);
}

main {
    margin-top: 116px;
    margin-bottom: 392px;
}

.top {
    width: 750px;
    height: 133px;
    background: var(--segundary-color);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

h2 {
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #FFF;
    padding: 50px 0 50px 0;
}

.page {
    width: 750px;
    background: #FFF;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}

form {
    padding: 32px 64px;
}

fieldset {
    border: none;
    margin-bottom: 36px;
}

.col-2 {
    display: flex;
    gap: 22px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-wrapper label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4E4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    font-size: 12px;
    color: #C1BCCC;
    margin-left: 9px;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
    font-family: 'Poopins', sans-serif;
    height: 56px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    background: #FAFAFC;
    margin-bottom: 16px;
    padding: 8px;
    color: #4E4958;
}

legend {
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #355B51;
    border-bottom: 1px solid #E6E6F0;
    margin-bottom: 32px;
    text-align: center;
    width: 100%;
}

.input-wrapper select {
    appearance: none;
    background-image: var(--select);
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.input-wrapper textarea {
    height: 167px;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4E4958;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
}

.checkbox-wrapper input {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked+label::before {
    background-image: var(--check);
}

.checkbox-wrapper input:focus+label::before {
    outline: 2px solid #000;
}

.time-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
}

#button {
    width: 100%;
    height: 51px;
    background: var(--segundary-color);
    border-radius: 8px;
    border: none;
    font-family: 'Staatliches', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 30px;
}